/.idea/absence_request.iml
/.idea/modules.xml
/.idea/php.xml
/.idea/php-docker-settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
