<div class="alert alert-danger">{{message}}</div>
<div class="row">
    <div class="col-md-12">
        <a href="{{url}}" class="btn btn-secondary">
            {{#str}}back_to_my_courses, local_absence_request{{/str}}
        </a>
    </div>
</div>