
<div class="row">
    <div class="col-md-4">
        <a href="{{config.wwwroot}}/local/absence_request/student_view.php" class="btn btn-primary mb-3">
            {{#str}}view_my_reported_absences, local_absence_request{{/str}}
        </a>
    </div>
</div>